.footer-bg{
    margin-top: 80px;
    background: var(--cor-08);
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 145px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}